$font-default = Arial, Helvetica, sans-serif
$font-caption = 'Tinos', 'Times New Roman', 'Times', serif

$color = #000
$color-muted = #666
$color-light = #a3a3a3
$color-inverted = #fff

$bg = #fff
$bg-hover = #666

$border-thin = #a3a3a3

$nav-link = #333
$nav-current = #666

// The micro clearfix http://nicolasgallagher.com/micro-clearfix-hack/
clearfix() {
    &:before,
    &:after {
        content: "";
        display: table;
        border-collapse: collapse;
    }

    &:after {
        clear: both;
    }
}

// =====================================

html {
    background-image: url(img/bg.jpg);
}

body {
    margin: 0 auto;
    padding: 0 20px 60px;
    max-width: 900px;
    min-width: 600px;
    background: $bg;
    font-family: $font-default;
    font-size: 14px;
    color: $color;
}

h2 {
    padding: 0;
    margin: 0 0 10px;
    font-size: 26px;
    font-family: $font-caption;
    font-style: italic;
}

// =====================================

.head {
    position: relative;
    padding: 10px 0 20px;

    &__name {
        font-size: 58px;
        font-family: $font-caption;
    }

    &__guitars {
        margin-top: -10px;
        font-size: 20px;
        color: $color-muted;
        text-transform: lowercase;
        font-family: $font-caption;
    }

    &__langs {
        position: absolute;
        top: 20px;
        right: 0;
    }
}

.langs {
    &__lang {
        display: inline-block;
        padding: 4px 6px;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 14px;

        &,
        &:link,
        &:visited {
            color: $nav-link;
        }

        &:hover {
            background: $bg-hover;
            color: $color-inverted;
        }

        &_current {
            color: $color-light;

            &:hover {
                background: inherit;
                color: @color;
            }
        }
    }
}

.nav {
    border-top: 1px solid $border-thin;
    text-align: center;

    &__item {
        display: inline-block;
        margin: 2px;
        padding: 14px;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 14px;

        &,
        &:link,
        &:visited {
            color: $nav-link;
        }

        &:hover {
            background: $bg-hover;
            color: $color-inverted;
        }

        &_current {
            box-shadow: 0 -4px 0px $nav-current inset;

            &:hover {
                background: inherit;
                color: inherit;
                cursor: default;
            }
        }
    }
}

.stripe {
    height: 200px;
    margin-bottom: 40px;
    background-image: url(/img/stripe1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
}

// =====================================

.page-index {
    clearfix();

    &__photo {
        float: left;
        width: 400px;
    }

    &__content {
        margin-left: 420px;
    }
}

.page-models {
    &__model {
        clearfix();
        margin-bottom: 1em;
    }

    &__text {

    }

    &__photos {
        float: right;
        width: 400px;
        height: 600px;
        margin-left: 20px;
        background: #666;
    }
}
