$font-default = Arial, Helvetica, sans-serif
$font-caption = 'Tinos', 'Times New Roman', 'Times', serif

$color = #000
$color-muted = #666
$color-light = #a3a3a3
$color-inverted = #fff

$bg = #fff
$bg-hover = #666

$border = #ccc
$border-thin = #a3a3a3

$nav-link = #333
$nav-current = #666

// The micro clearfix http://nicolasgallagher.com/micro-clearfix-hack/
clearfix() {
    &:before,
    &:after {
        content: "";
        display: table;
        border-collapse: collapse;
    }

    &:after {
        clear: both;
    }
}

// =====================================

html {
    //background-image: url(img/bg.jpg);
    background: #f1ede8;
}

body {
    margin: 0 auto 20px;
    padding: 0 20px 20px;
    max-width: 900px;
    min-width: 600px;
    border: 1px solid $border;
    border-top: none;
    background: $bg;
    font-family: $font-default;
    font-size: 14px;
    color: $color;
}

h2 {
    padding: 0;
    margin: 0 0 10px;
    font-size: 26px;
    font-family: $font-caption;
    font-style: italic;
}

a {
    text-decoration: none;

    &, &:link {
        color: #2244cc;
    }

    &:visited {
        color: #6633cc;
    }

    &:hover {
        color: #cc3333;
    }
}

// =====================================

.head {
    position: relative;
    padding: 10px 0 20px;

    &__name {
        font-size: 58px;
        font-family: $font-caption;
    }

    &__guitars {
        margin-top: -10px;
        font-size: 20px;
        color: $color-muted;
        text-transform: lowercase;
        font-family: $font-caption;
    }

    &__langs {
        position: absolute;
        top: 20px;
        right: 0;
    }
}

.langs {
    &__lang {
        display: inline-block;
        padding: 4px 6px;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 14px;

        &,
        &:link,
        &:visited {
            color: $nav-link;
        }

        &:hover {
            background: $bg-hover;
            color: $color-inverted;
        }

        &_current {
            color: $color-light;

            &:hover {
                background: inherit;
                color: @color;
            }
        }
    }
}

.nav {
    border-top: 1px solid $border-thin;
    text-align: center;

    &__item {
        display: inline-block;
        margin: 2px;
        padding: 14px;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 14px;
        //transition: background 0.2s ease-out;

        &,
        &:link,
        &:visited {
            color: $nav-link;
        }

        &:hover {
            background: $bg-hover;
            color: $color-inverted;
        }

        &_current {
            box-shadow: 0 -4px 0px $nav-current inset;

            &:hover {
                background: inherit;
                color: inherit;
                cursor: default;
            }
        }
    }
}

.stripe {
    height: 100px;
    margin-bottom: 40px;
    background-image: url(/img/stripes/1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;

    &_index {
        background-image: url(/img/stripes/4.jpg);
    }

    &_models {
        background-image: url(/img/stripes/2.jpg);
    }

    &_gallery {
        background-image: url(/img/stripes/3.jpg);
    }
}

.text {
    line-height: 1.4;
}

// =====================================

.page-index {
    clearfix();

    &__photo {
        float: left;
        width: 400px;
    }

    &__content {
        margin-left: 420px;
    }
}

.page-models {
    &__model {
        clearfix();
        margin-bottom: 2em;
    }

    &__text {

    }

    &__photos {
        float: right;
        width: 300px;
        margin-left: 20px;
    }

    &__photo {
        display: inline-block;

        img {
            display: inline-block;
            border: none;
            vertical-align: middle;
            width: auto;
            height: 135px;
        }

        &_main {
            margin-bottom: 7px;

            img {
                width: 300px;
                height: auto;
            }
        }

        &:last-child {
            margin-left: 7px;
        }
    }

    &__model-photos {
        margin-top: 1.5em;
        clearfix();
    }

    &__model-photo {
        display: inline-block;
        margin-right: 7px;
    }
}

.page-gallery {
    &__image {
        display: inline-block;
        margin: 0 5px 5px 0;

        img {
            border: none;
            height: 150px;
            vertical-align: middle;
        }
    }
}

@import "lightbox/css/lightbox.css";
